.userDetails {
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

/*button {*/
/*    color: brown;*/
/*    text-align: center;*/
/*}*/

.wrapUserDetails{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}