.users {
    text-align: center;
}

.users-btns {
    margin-top: 20px;
}

.users-user {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 5px;
    gap: 5px;
}

.users-btns-btn {
    height: 40px;
    width: 150px;
    color: blue;
    font-weight: bold;
    font-size: 15px;
}